##########################
# ignore log files
##########################

*.log


##########################
# ignore source files
##########################

src/lbm1Foam/Make/linux64GccDPInt32Opt/*
src/lbm2Foam/lbm2Foam/Make/linux64GccDPInt32Opt/*
src/lbm2Foam/utils/Make.bak
src/lbm2Foam/utils/lbm2CheckTau/Make/linux64GccDPInt32Opt/*

bak/*


##########################
# ignore test files
##########################


test/lbm1Foam/periodicLBM/0.*
test/lbm1Foam/periodicLBM/1*
test/lbm1Foam/periodicLBM/2*
test/lbm1Foam/periodicLBM/3*
test/lbm1Foam/periodicLBM/4*
test/lbm1Foam/periodicLBM/5*
test/lbm1Foam/wallLBM/0.*
test/lbm1Foam/wallLBM/1*
test/lbm1Foam/wallLBM/2*
test/lbm1Foam/wallLBM/3*
test/lbm1Foam/wallLBM/4*
test/lbm1Foam/wallLBM/5*

test/lbm1Foam/periodicLBM/constant/polyMesh/*
test/lbm1Foam/periodicLBM/VTK/*
test/lbm1Foam/periodicLBM/dynamicCode/*
test/lbm1Foam/wallLBM/constant/polyMesh/*
test/lbm1Foam/wallLBM/VTK/*
test/lbm1Foam/wallLBM/dynamicCode/*
